<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <title>Casa do Código</title>
    </head>
    <body>
<div>
    <div class ="container min-container">
        <div style="display: flex; max-width: 70%; margin: 0 auto; align-items: baseline; justify-content: space-between">
            <h2 class="basic-title">Add</h2>
            <a href="/produtos">Ver lista de livros </a>
        </div>
        <% if(locals.validationErrors){ %>
            <ul class="list-unstyled">
                <% for(let i=0; i<validationErrors.length; i++){%> 
                <li class="alert alert-danger"> <%= validationErrors[i].msg %></li>
                <% } %>
            </ul>
            <% } %>
        <form style="max-width: 70%; margin: 0 auto;" action="/produtos" method="post" class="well" role="form">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <div class="input-group">
                    <input type="text" name="titulo" placeholder="titulo do livro"/>
                </div>
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <div class="input-group">
                    <input type="text" name="preco" placeholder="valor do livro"/>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descricao</label>
                <div class="input-group">
                    <textarea name="descricao"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Gravar</button>
        </form>
    </div>
</div>
</body>
</html>