<!DOCTYPE html>
<html>
    <head>
        <title>Casa do Código</title>
    </head>
    <body>
        <div style="width:100vw; height: 100vh;">
            <div style="margin: 0 auto; width: 50%;">
                <h1>Aqui listaremos os produtos</h1>
                <ul>Livro 1</ul>
                <ul>Livro 2</ul>
                <ul>Livro 3</ul>
                <ul>Livro 4</ul>
            </div>
        </div>
    </body>
</html>