<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <title>Casa do Código</title>
    </head>
    <body>
        <div style="padding:100px;">
            <h2 style="max-width: 70%; margin: 0 auto;" class="basic-title"> Listagem de livros </h2>
            <table style="max-width: 70%; margin: 0 auto;" class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <td>Título</td>
                    <td>Preco</td>
                    <td>Descriçaão</td>
                </thead>
                <tbody>
                    <% for (let i = 0; i < livros.length; i++) {%>
                        <tr>
                            <td> <%= livros[i].titulo %> </td>
                            <td> <%= livros[i].preco %> </td>
                            <td> <%= livros[i].descricao %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </body>
</html>