<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Index</title>
 </head>
 <body>
    <script>
    const SERVER = 'http://localhost:3001';
    const URL_LISTA_ITENS_ESTOQUE = SERVER+'/estoque/itens'
 
    $.getJSON(URL_LISTA_ITENS_ESTOQUE)
    </script>
 </body>